<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="grid--full">
      <div class="grid-item one-half">
          <div class="header-logo">
            <a href="/" itemprop="url">
              <img src="//cdn.shopify.com/s/files/1/1167/4686/t/2/assets/logo.png?3882786323060563387" alt="Savko Plastic Pipe &amp; Fittings" itemprop="logo">
            </a>
          </div>
      </div>
      <div class="grid-item one-half" style="vertical-align: bottom; text-align: right">
        <img src="/assets/made_in_usa.jpg" style="height: 36px;">
        <h2 style="margin: 20px 0 -5px 0">Product Support and Sales: 1.877.885.4445</h2>
      </div>
    </div>
  </div>
</header>
<nav class="nav-bar" role="navigation">
  <div class="wrapper">
    <ul class="site-nav" id="accessibleNav">
      <li>
        <a href="/">&nbsp;</a>
      </li>
    </ul>
  </div>
</nav>
