<style>

  table {
    width: 100%;
  }

  td,th {
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
  }

  .header {
    background:#04267D;
    color: white;
  }

</style>

{% assign product = page.product %}
{% assign variant = product.variants[0] %}
{% if variant["side.d"] %}
  {% assign sides = 4 %}
{% elsif variant["side.c"] %}
  {% assign sides = 3 %}
{% elsif variant["side.b"] %}
  {% assign sides = 2 %}
{% elsif variant["side.a"] %}
  {% assign sides = 1 %}
{% endif %}

<div class="grid">
  <div class="grid-item four-twelfths">
      <img id="productPhotoImg" src="{{ product.images[0] }}">
  </div>
  <div class="grid-item eight-twelfths">
    <div class="grid">
      <h1 itemprop="name">{{ product.title }}</h1>
      <table>
        {% for variant in product.variants %}
        {% if forloop.first %}
        <tr>
          <th colspan=5 style="border:0">
          </th>
          <th colspan={{ 5 + sides }} style="padding:5px; text-align: center; background: #ededed; border: none">
            Dimensions (in.)
          </th>
        </tr>
        <tr>
          <th class="header">Part&nbsp;#</th>
          <th class="header">Size</th>
          <th class="header">Material</th>
          <th class="header">Weight&nbsp;(lb)</th>
          <th class="header">Box&nbsp;qty.</th>
          {% if sides >= 1 %}
          <th class="header ">A</th>
          {% endif %}
          {% if sides >= 2 %}
          <th class="header">B</th>
          {% endif %}
          {% if sides >= 3 %}
          <th class="header">C</th>
          {% endif %}
          {% if sides >= 4 %}
          <th class="header">D</th>
          {% endif %}
        </tr>
        {% endif %}
        <tr>
          <td>
            {{ variant.sku }}
          </td>
          <td>
            {{ variant.size }}
          </td>
          <td>
            {{ variant.material }}
          </td>
          <td>
            {{ variant.weight }}
          </td>
          <td>
            {{ variant.box }}
          </td>
          {% if variant['side.a'] %}
          <td>
            {{ variant['side.a'] }}
          </td>
          {% endif %}
          {% if variant['side.b'] %}
          <td>
            {{ variant['side.b'] }}
          </td>
          {% endif %}
          {% if variant['side.c'] %}
          <td>
            {{ variant['side.c'] }}
          </td>
          {% endif %}
          {% if variant['side.d'] %}
          <td>
            {{ variant['side.d'] }}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      <div class="grid" style="padding-top: 20px">
        <div class="grid-item three-quarters" style="padding-top: 10px; font-size: 15px">
          {{ product.description }}
        </div>
        <div class="grid-item one-quarter">
          <img id="productPhotoImg" src="{{ product.images[1] }}">
        </div>
      </div>
    </div>
  </div>
</div>
