<style>

  table {
    width: 100%;
  }

  td,th {
    padding: 10px;
    font-weight: 500;
    font-size: 13px;
  }

  .header {
    background:#04267D;
    color: white;
  }

  .grid-item {
    padding-left: 15px;
  }

</style>

{% assign product = page.product %}
{% assign variant = product.variants[0] %}
{% if variant["side.d"] %}
  {% assign sides = 4 %}
{% elsif variant["side.c"] %}
  {% assign sides = 3 %}
{% elsif variant["side.b"] %}
  {% assign sides = 2 %}
{% elsif variant["side.a"] %}
  {% assign sides = 1 %}
{% endif %}

<div class="grid">
  <div class="grid-item large--two-fifths">
    <div class="grid">
      <div class="grid-item large--eleven-twelfths text-center">
        <div class="product-photo-container" id="productPhoto">
          <img id="productPhotoImg" src="{{ product.images[0] }}">
        </div>
      </div>
    </div>
  </div>
  <div class="grid-item large--three-fifths">
    <div class="grid">
      <div class="grid-item large--one">
      <table>
        {% for variant in product.variants %}
        {% if forloop.first %}
        <tr>
          <th colspan=5 style="border:0; vertical-align: top; padding-left: 0">
            <h2 itemprop="name">{{ product.title }}</h2>
            <div style="margin-bottom: 15px">
              {{ product.description }}
            </div>
          </th>
          <th colspan={{ 5 + sides }} style="border:0; text-align:center; padding:0; padding-bottom: 20px; vertical-align: bottom">
            <img id="productPhotoImg" src="{{ product.images[1] }}" height="130px" width="130px">
          </th>
        </tr>
        <tr>
          <th colspan=5 style="border:0">
          </th>
          <th colspan={{ 5 + sides }} style="padding:5px; text-align: center; background: #ededed; border: none">
            Dimensions (in.)
          </th>
        </tr>
        <tr>
          <th class="header">Part&nbsp;#</th>
          <th class="header">Size</th>
          <th class="header">Material</th>
          <th class="header">Weight&nbsp;(lb)</th>
          <th class="header">Box&nbsp;qty.</th>
          {% if sides >= 1 %}
          <th class="header ">A</th>
          {% endif %}
          {% if sides >= 2 %}
          <th class="header">B</th>
          {% endif %}
          {% if sides >= 3 %}
          <th class="header">C</th>
          {% endif %}
          {% if sides >= 4 %}
          <th class="header">D</th>
          {% endif %}
        </tr>
        {% endif %}
        <tr>
          <td>
            {{ variant.sku }}
          </td>
          <td>
            {{ variant.size }}
          </td>
          <td>
            {{ variant.material }}
          </td>
          <td>
            {{ variant.weight }}
          </td>
          <td>
            {{ variant.box }}
          </td>
          {% if variant['side.a'] %}
          <td>
            {{ variant['side.a'] }}
          </td>
          {% endif %}
          {% if variant['side.b'] %}
          <td>
            {{ variant['side.b'] }}
          </td>
          {% endif %}
          {% if variant['side.c'] %}
          <td>
            {{ variant['side.c'] }}
          </td>
          {% endif %}
          {% if variant['side.d'] %}
          <td>
            {{ variant['side.d'] }}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
